@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Bruno Ace SC', cursive;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, green,yellow,blue);
}

main {
    margin: 5rem auto;
    width: 60vw;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    background-color: rgba(255, 255, 255, 0.25);
}

.container {
    width: 50vw;
    height: 18rem;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0 2rem 3rem rgba(255, 255, 255, .05) */
}

h1 {
    font: 600 2.5rem;
    color: rgb(0,0,0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

button {
    margin: 1.25rem 0.75rem;
    padding: 0.5rem;
    width: 8rem;
    color: rgb(0, 0, 0);
    font: inherit;
}

input {
    margin-top: 20px;
}

.rand {
    background: linear-gradient(to right, green, yellow, blue);
}

.left {
    background: linear-gradient(to left, yellow,green);
}

.right {
    background: linear-gradient(to right, yellow, blue);
}

